/* Orange/$-Orange-50 */
/* Orange/$-Orange-100 */
/* Orange/$-Orange-200 */
/* Orange/$-Orange-300 */
/* Orange/$-Orange-400 */
/* Orange/$-Orange-500 */
/* Orange/$-Orange-600 */
/* Gray/$-gray-50 */
/* Gray/$-gray-100 */
/* Gray/$-gray-200 placeholder */
/* Gray/$-gray-300 */
/* Gray/$-gray-400 Text */
/* Gray/$-gray-500 */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
/* Font */
/* 36/36 XBold */
/* 34/34 Reg */
/* 32/32 Bold */
/* 30/30 Bold */
/* 24/24 XLbold */
/* 24/24 XBold --- */
/* 24/24 Bold */
/* 22/22 Bold */
/* 20/20 Bold */
/* 18/18 Reg */
/* 16/16 Bold */
/* 16/16 Semi */
/* 16/16 Reg */
/* 14/14 Bold */
/* 14/14 Lite Bold --- */
/* 14/14 Reg */
/* 12/12 Reg */
* {
  font-family: "Nunito";
}

.reset-password-space {
  gap: 0 !important;
  display: flex;
  height: 100dvh;
}
.reset-password-space .ant-space-item:has(> .reset-password-form-space) {
  flex: 1;
  height: 100%;
  padding: 1rem 1.5rem;
}
.reset-password-space .ant-space-item:has(> .illustration-image-space) {
  flex: 1.5;
  background-color: #ffffff;
  height: 100%;
  padding: 1rem 1.5rem;
}
.reset-password-space .reset-password-form-space {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 102px !important;
}
.reset-password-space .reset-password-form-space .alta-media-logo {
  background: url(../../../LoginIcons/Icons/LogoAlta.svg) no-repeat;
  width: 170px;
  height: 136px;
  margin-top: 4.125rem;
}
.reset-password-space .reset-password-form-space .reset-password-form-row .reset-password-form-col .qs-typography-title {
  color: #282739 !important;
  font: normal 700 22px/33px "Nunito";
  text-align: center;
  margin-bottom: 0.75rem;
}
.reset-password-space .reset-password-form-space .reset-password-form-row .reset-password-form-col label {
  color: #37474F !important;
  font: normal 400 18px/27px "Nunito" !important;
}
.reset-password-space .reset-password-form-space .reset-password-form-row .reset-password-form-col input {
  color: #535261;
  font: normal 400 18px/27px "Nunito";
}
.reset-password-space .reset-password-form-space .reset-password-form-row .reset-password-form-col .ant-form-item-control-input {
  width: min(100vw - 3rem, 400px);
}
.reset-password-space .reset-password-form-space .form-reset-password-actions-space {
  width: min(100vw - 4.5rem, 100%);
  flex-wrap: wrap;
  gap: 24px !important;
  margin-top: 2rem;
}
.reset-password-space .reset-password-form-space .form-reset-password-actions-space .qs-cancel-btn {
  min-width: 162px;
  height: 40px !important;
  padding: 0.5rem 1rem;
}
.reset-password-space .reset-password-form-space .form-reset-password-actions-space .qs-submit-btn {
  min-width: 162px;
  height: 40px !important;
  padding: 0.5rem 1rem;
}
.reset-password-space .illustration-image-space {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 711px;
  height: 560px;
  background: url(../../../LoginIcons/Icons/Conversation.svg) no-repeat;
  margin-top: 8.5625rem;
  margin-left: 1.1875rem;
  position: relative;
}
.reset-password-space .illustration-image-space .ant-space-item:has(> .illustration-image-desc) {
  position: absolute;
  right: -19%;
  top: 48%;
}
.reset-password-space .illustration-image-space .ant-space-item:has(> .illustration-image-desc) .illustration-image-desc .illustration-image-sub-title {
  font: normal 400 34px/51px "Nunito";
  margin-bottom: 0;
}
.reset-password-space .illustration-image-space .ant-space-item:has(> .illustration-image-desc) .illustration-image-desc .illustration-image-main-title {
  font: normal 900 36px/54px "Nunito";
  margin-top: 0;
}/*# sourceMappingURL=ResetPassword.css.map */