/* Orange/$-Orange-50 */
/* Orange/$-Orange-100 */
/* Orange/$-Orange-200 */
/* Orange/$-Orange-300 */
/* Orange/$-Orange-400 */
/* Orange/$-Orange-500 */
/* Orange/$-Orange-600 */
/* Gray/$-gray-50 */
/* Gray/$-gray-100 */
/* Gray/$-gray-200 placeholder */
/* Gray/$-gray-300 */
/* Gray/$-gray-400 Text */
/* Gray/$-gray-500 */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
/* Font */
/* 30/30 Bold */
/* 24/24 XLbold */
/* 24/24 XBold --- */
/* 24/24 Bold */
/* 20/20 Bold */
/* 16/16 Bold */
/* 16/16 Semi */
/* 16/16 Reg */
/* 14/14 Bold */
/* 14/14 Lite Bold --- */
/* 14/14 Reg */
/* 12/12 Reg */
* {
  font-family: "Nunito";
}

.form-control label {
  font: normal 600 16px/24px "Nunito" !important;
  color: #282739 !important;
}
.form-control input {
  border: 1.5px solid #D4D4D7;
  border-radius: 8px;
  width: min(100vw - 4.5rem, 540px);
  padding: 0.625rem 0.75rem;
}
.form-control input::placeholder {
  color: #a9a9b0;
  font: normal 400 16px/24px "Nunito";
}
.form-control .ant-select-selector:has(> .ant-select-selection-search):has(> .ant-select-selection-placeholder) {
  padding: 0.625rem 0.75rem !important;
  border: 1.5px solid #D4D4D7;
  height: 44px !important;
}
.form-control .ant-select-selector:has(> .ant-select-selection-search):has(> .ant-select-selection-placeholder) .ant-select-selection-placeholder {
  font: normal 400 16px/24px "Nunito" !important;
  color: #a9a9b0;
  height: auto;
}
.form-control .ant-select-selector:has(> .ant-select-selection-overflow) {
  padding: 0.625rem 0.75rem !important;
  border: 1.5px solid #D4D4D7;
}
.form-control .ant-select-selector:has(> .ant-select-selection-overflow) .ant-select-selection-overflow {
  align-items: center;
}
.form-control .ant-select-selector:has(> .ant-select-selection-overflow) .ant-select-selection-overflow:has(.ant-select-selection-item) {
  margin-bottom: 34px;
}
.form-control .ant-select-selector:has(> .ant-select-selection-overflow) .ant-select-selection-overflow .ant-select-selection-item {
  padding: 0.25rem 0.75rem;
  height: auto;
  background: #ffac6a;
  box-shadow: 0px 0px 6px #E7E9F2;
  border-radius: 9px;
}
.form-control .ant-select-selector:has(> .ant-select-selection-overflow) .ant-select-selection-overflow .ant-select-selection-item .ant-select-selection-item-content {
  color: #FFFFFF;
  font: normal 700 14px/19px "Nunito";
}
.form-control .ant-select-selector:has(> .ant-select-selection-overflow) .ant-select-selection-overflow .ant-select-selection-item .ant-select-selection-item-remove {
  width: 20px;
  height: 20px;
  color: #ffffff;
  font: normal 700 14px/19px "Nunito";
}
.form-control .ant-select-selector:has(> .ant-select-selection-overflow) .ant-select-selection-overflow .ant-select-selection-search {
  margin-inline-start: 0;
}
.form-control .ant-select-selector:has(> .ant-select-selection-overflow) .ant-select-selection-placeholder {
  font: normal 400 16px/24px "Nunito" !important;
  color: #a9a9b0;
  height: auto;
}/*# sourceMappingURL=Form.css.map */