@import '../../../styles/global';

.qs-cancel-btn {
  /* Orange/$-Orange-50 */
  background: $-orange-50;

  /* Orange/$-Orange-400 */
  border: 1.5px solid $-orange-400;

  /* down */
  box-shadow: 0px 0px 6px #E7E9F2;
  border-radius: 8px;

  /* Width */
  min-width: 147px;

  /* Height */
  height: 48px !important;

  /* Padding */
  padding: 0.8125rem 1.5rem;

  /* Event */
  &:hover {
    border-color: $-orange-500 !important;
  }

  &:active {
    border-color: $-orange-600 !important;
  }

  &:focus-visible {
    outline: 2px solid $-orange-200 !important;
  }

  /* Text */
  span {
    color: $-orange-400;
    font: normal 700 16px/22px 'Nunito';
  }
}

.qs-submit-btn {
  /* Orange/$-Orange-50 */
  background: $-orange-400;

  /* down */
  box-shadow: 0px 0px 6px #E7E9F2;
  border-radius: 8px;

  /* Width */
  min-width: 147px;

  /* Height */
  height: 48px !important;

  /* Padding */
  padding: 0.8125rem 1.5rem;

  /* Event */
  &:hover {
    border-color: $-orange-500 !important;
  }

  &:active {
    border-color: $-orange-600 !important;
  }

  &:focus-visible {
    outline: 2px solid $-orange-200 !important;
  }

  /* Text */
  span {
    color: #ffffff;
    font: normal 700 16px/22px 'Nunito';
  }
}