/* Orange/$-Orange-50 */
/* Orange/$-Orange-100 */
/* Orange/$-Orange-200 */
/* Orange/$-Orange-300 */
/* Orange/$-Orange-400 */
/* Orange/$-Orange-500 */
/* Orange/$-Orange-600 */
/* Gray/$-gray-50 */
/* Gray/$-gray-100 */
/* Gray/$-gray-200 placeholder */
/* Gray/$-gray-300 */
/* Gray/$-gray-400 Text */
/* Gray/$-gray-500 */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
/* Font */
/* 36/36 XBold */
/* 34/34 Reg */
/* 32/32 Bold */
/* 30/30 Bold */
/* 24/24 XLbold */
/* 24/24 XBold --- */
/* 24/24 Bold */
/* 22/22 Bold */
/* 20/20 Bold */
/* 18/18 Reg */
/* 16/16 Bold */
/* 16/16 Semi */
/* 16/16 Reg */
/* 14/14 Bold */
/* 14/14 Lite Bold --- */
/* 14/14 Reg */
/* 12/12 Reg */
* {
  font-family: "Nunito";
}

.table-header-row {
  margin-bottom: 1rem;
}
.table-header-row .table-header-col .table-header-title {
  color: #282739 !important;
  font: normal 600 16px/24px "Nunito" !important;
  margin-bottom: 0.25rem !important;
}
.table-header-row .table-header-col:not(.table-header-row .table-header-col:last-child) {
  margin-inline-end: 1.5rem;
}
.table-header-row .table-header-col .table-header-default-select:hover .ant-select-selector, .table-header-row .table-header-col .table-header-default-select:active .ant-select-selector {
  border-color: #ff7506 !important;
}
.table-header-row .table-header-col .table-header-default-select.ant-select-focused .ant-select-selector {
  border-color: #ff7506 !important;
  box-shadow: 0 0 0 2px rgba(255, 200, 155, 0.1);
}
.table-header-row .table-header-col .table-header-default-select .ant-select-selector {
  padding: 0.625rem 0.75rem;
  height: 44px;
  line-height: initial;
}
.table-header-row .table-header-col .table-header-default-select .ant-select-selector::after {
  line-height: 1.5rem;
}
.table-header-row .table-header-col .table-header-default-select .ant-select-selector .ant-select-selection-search {
  font: normal 400 16px/24px "Nunito" !important;
}
.table-header-row .table-header-col .table-header-default-select .ant-select-selector .ant-select-selection-item {
  font: normal 400 16px/24px "Nunito" !important;
}
.table-header-row .table-header-col .table-header-default-select .ant-select-dropdown {
  padding: 0.5rem 0;
}
.table-header-row .table-header-col .table-header-default-select .ant-select-dropdown .ant-select-item {
  padding: 0.625rem 0.75rem;
}
.table-header-row .table-header-col .table-header-default-select .ant-select-dropdown .ant-select-item .ant-select-item-option-content {
  color: #535261;
  font: normal 400 16px/24px "Nunito";
}
.table-header-row .table-header-col .table-header-default-select .ant-select-dropdown .ant-select-item.ant-select-item-option-active {
  background-color: #fff2e7;
}
.table-header-row .table-header-col .table-header-default-select .ant-select-dropdown .ant-select-item.ant-select-item-option-selected {
  background-color: #fff2e7;
}
.table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input {
  font: normal 400 16px/22px "Nunito";
  padding: 0.6875rem 0.75rem;
  height: 44px;
  border-radius: 8px 0px 0px 8px;
  border-right: 0;
  color: #535261 !important;
}
.table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input::placeholder {
  color: #a9a9b0;
}
.table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input:hover, .table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input:hover + .ant-input-group-addon > .ant-input-search-button {
  border-color: #ff7506;
}
.table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input:focus, .table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input:focus + .ant-input-group-addon > .ant-input-search-button {
  border-color: #ff7506;
  box-shadow: 0 0 0 2px rgba(255, 200, 155, 0.1);
}
.table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input:has(+ .ant-input-group-addon > .ant-input-search-button:hover) {
  border-color: #D4D4D7 !important;
  color: #ff7506;
}
.table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input-group-addon .ant-input-search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6875rem 0.75rem;
  height: 44px;
  border-radius: 0px 8px 8px 0px;
  border-left: 0;
}
.table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input-group-addon .ant-input-search-button .anticon svg {
  width: 20px;
  height: 20px;
}
.table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input-group-addon .ant-input-search-button:hover {
  border-color: #D4D4D7 !important;
  color: #ff7506;
}
.table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input-group-addon .ant-input-search-button:focus-visible {
  outline: 2px solid #ffac6a;
}
.table-header-row .table-header-col .table-header-search-input .ant-input-wrapper .ant-input-group-addon .ant-input-search-button:active {
  border-color: #D4D4D7;
  color: #ff7506;
}
.table-header-row .table-header-col .table-header-default-select, .table-header-row .table-header-col .table-header-search-input {
  min-width: 300px;
}

.search-input-lite .ant-input-wrapper .ant-input {
  font: normal 400 16px/22px "Nunito";
  padding: 0.6875rem 0.75rem;
  height: 44px;
  border-radius: 8px 0px 0px 8px;
  border-right: 0;
  color: #535261 !important;
}
.search-input-lite .ant-input-wrapper .ant-input::placeholder {
  color: #a9a9b0;
}
.search-input-lite .ant-input-wrapper .ant-input:hover, .search-input-lite .ant-input-wrapper .ant-input:hover + .ant-input-group-addon > .ant-input-search-button {
  border-color: #ff7506 !important;
}
.search-input-lite .ant-input-wrapper .ant-input:focus, .search-input-lite .ant-input-wrapper .ant-input:focus + .ant-input-group-addon > .ant-input-search-button {
  border-color: #ff7506;
  box-shadow: 0 0 0 2px rgba(255, 200, 155, 0.1);
}
.search-input-lite .ant-input-wrapper .ant-input:has(+ .ant-input-group-addon > .ant-input-search-button:hover) {
  border-color: #D4D4D7 !important;
  color: #ff7506;
}
.search-input-lite .ant-input-wrapper .ant-input-group-addon .ant-input-search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6875rem 0.75rem;
  height: 44px;
  border-radius: 0px 8px 8px 0px;
  border-left: 0;
}
.search-input-lite .ant-input-wrapper .ant-input-group-addon .ant-input-search-button .anticon svg {
  width: 20px;
  height: 20px;
}
.search-input-lite .ant-input-wrapper .ant-input-group-addon .ant-input-search-button:hover {
  border-color: #D4D4D7 !important;
  color: #ff7506 !important;
}
.search-input-lite .ant-input-wrapper .ant-input-group-addon .ant-input-search-button:focus-visible {
  outline: 2px solid #ffac6a;
}
.search-input-lite .ant-input-wrapper .ant-input-group-addon .ant-input-search-button:active {
  border-color: #D4D4D7;
  color: #ff7506;
}

/* Progression Actions */
.progression-row-control .qs-default-select {
  min-width: 100% !important;
  width: 100% !important;
}
.progression-row-control .qs-range-select {
  min-width: 100% !important;
  white-space: nowrap;
}
.progression-row-control .ant-input-search {
  min-width: 100% !important;
  width: auto !important;
}

/* General */
.margin-start-auto {
  margin-inline-start: auto;
}/*# sourceMappingURL=TableHeader.css.map */