@import '../../../../styles/global';

.qs-input {
  border: 1.5px solid $-gray-100;
  border-radius: 8px;
  width: min(100vw - 4.5rem, 100%);
  height: 44px;
  padding: 0.625rem 0.75rem;
  color: $-gray-400;
  font: $-font-16-r;

  &::placeholder {
    color: $-gray-200;
    font: $-font-16-r; 
  }

  &:hover, &:active {
    border-color: $-orange-300;
  }

  &:focus {
    border-color: $-orange-300;
    box-shadow: 0 0 0 2px rgba($-orange-100, 0.4);
    outline: 0;
  }
}

.qs-textarea {
  border: 1.5px solid $-gray-100;
  border-radius: 8px;
  width: min(100vw - 4.5rem, 100%);
  height: 44px;
  padding: 0.625rem 0.75rem;
  height: 136px !important; 
  resize: none !important;
  color: $-gray-400;
  font: $-font-16-r;

  &::placeholder {
    color: $-gray-200;
    font: $-font-16-r; 
  }

  &:hover, &:active {
    border-color: $-orange-300;
  }

  &:focus {
    border-color: $-orange-300;
    box-shadow: 0 0 0 2px rgba($-orange-100, 0.4);
    outline: 0;
  }
}

.qs-input-password {
  border: 1.5px solid $-gray-100;
  border-radius: 8px;
  width: min(100vw - 4.5rem, 100%);
  height: 44px;
  padding: 0.625rem 0.75rem;
  color: $-gray-400;
  font: $-font-16-r;

  input::placeholder {
    color: $-gray-200;
    font: $-font-16-r; 
  }

  &:hover, &:active {
    border-color: $-orange-300 !important;
  }
  
  &.ant-input-affix-wrapper-focused {
    border-color: $-orange-300 !important;
    box-shadow: 0 0 0 2px rgba($-orange-100, 0.4);
  }

  &:focus {
    border-color: $-orange-300 !important;
    box-shadow: 0 0 0 2px rgba($-orange-100, 0.4);
    outline: 0;
  }
}