@import '../../../../styles/global';

.qs-input {
  border: 1.5px solid $-gray-100;
  border-radius: 8px;
  width: min(100vw - 4.5rem, 100%);
  height: 44px;
  padding: 0.625rem 0.75rem;

  &::placeholder {
    color: $-gray-200;
    font: $-font-16-r; 
  }

  &:hover, &:active {
    border-color: $-orange-300;
  }

  &:focus {
    border-color: $-orange-300;
    box-shadow: 0 0 0 2px rgba($-orange-100, 0.4);
    outline: 0;
  }
}